<form class="needs-validation" novalidate [formGroup]="form" style="padding-top: 10px">
  <div class="form-row">
    <div class="col-sm-12">
      <label for="nombre">Nombre del Curso</label>
      <input
        type="text"
        class="form-control"
        id="nombre"
        placeholder="Nombre del Curso"
        formControlName="nombre"
        [ngClass]="{ 'is-invalid': submitted && hasError('nombre')}"
      />
      <div class="invalid-feedback" *ngIf="hasError('nombre') && hasError('nombre')['required']" >
        Introduzca un nombre para el curso.
      </div>
      <div class="invalid-feedback" *ngIf="hasError('nombre') && hasError('nombre')['minlength']" >
        el nombre debe tener al menos {{ hasError('nombre')['minlength'].requiredLength }} caracteres.
      </div>
      <div class="invalid-feedback" *ngIf="hasError('nombre') && hasError('nombre')['maxlength']" >
        el nombre debe tener como máximo {{ hasError('nombre')['maxlength'].requiredLength }} caracteres.
      </div>
    </div>
  </div>
  <div style="margin-top: 10px">
    <button type="sumit" class="btn btn-primary" (click)="onSubmit()">Salvar</button>
    <button type="button" class="btn btn-default" (click)="onCancel()">Cancelar</button>
  </div>
</form>
