<div class="card mt-3">
  <div class="card-header">
    <div class="float-left">
      <h4>Cursos</h4>
    </div>
    <div class="float-right">
      <button type="button" class="btn btn-primary" [routerLink]="['novo']">Nuevo curso</button>
      <button type="button" class="btn btn-secondary" (click)="onRefresh()">Actualizar</button>
    </div>
  </div>
  <div class="card-body">
    <table class="table table-hover" *ngIf="(cursos$ | async) as cursos; else loading">
      <thead>
        <tr>
          <th>#</th>
          <th>Curso</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let curso of cursos">
          <td>{{ curso.id }}</td>
          <td>{{ curso.nombre }}</td>
          <td>
            <span class="float-right">
              <button class="btn btn-outline-warning mb-1 btn-sm" (click)="onEdit(curso.id)">
                Actualizar
              </button>

              <button class="btn btn-outline-danger mb-1 btn-sm" (click)="onDelete(curso)">
                Remover
              </button>
            </span>
          </td>
        </tr>
      </tbody>
    </table>

    <ng-template #loading>
      <span>Cargando cursos...</span>
    </ng-template>
  </div>
</div>

<ng-template #deleteModal>
  <div class="modal-body text-center">
    <p>¿Está seguro de que desea eliminar este curso?</p>
    <button type="button" class="btn btn-default" (click)="onConfirmDelete()">Si</button>
    <button type="button" class="btn btn-primary" (click)="onDeclineDelete()">No</button>
  </div>
</ng-template>
